*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page-container{
  background-color: paleturquoise;
  padding: 4rem;
  margin: auto;
}
.form-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}