* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main-page-container {
  padding: 2rem 4rem;
  margin: auto;
  background-color: rgb(243 244 246);
}

.form-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form {
  width: 56rem;
  border-radius: 0.25rem;
}

input {
  padding: 1rem 1rem;
  color: rgb(75 85 99);
  border: none;
  outline: none;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition-duration: 0.2s;
  border-radius: 0.25rem;
  width: 100%;
}

::placeholder {
  color: rgb(75 85 99);
  font-size: 1rem;
}



.ant-select-item-option-content,
.ant-select-selection-item {
  width: 100%;
  padding: 0.1rem;

}

.ant-select-selector {
  padding: 1.46rem 3.5rem;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  padding: 1.46rem 3.5rem;

}

.countries-data-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;

}

.card {
  width: 28.2vw;
  height: 32.7vw;
  border-radius: 0.45rem;
  margin-bottom: 0.1rem;
  overflow: hidden;
  transition-duration: 0.2s;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

}

.card:hover {
  background-color: rgb(229 231 235);
}

a {
  text-decoration: none;
  /* padding: 1rem; */
}

img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  margin-bottom: 0;
  /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */

}

.country-data-div {
  padding: 1rem;
  background-color: #fff;
  margin-top: 0;
}

.country-data-div:hover {
  background-color: rgb(229 231 235);
}

.country-name {
  color: rgb(17 24 39);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.country-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.65rem;
  color: #000000;
}

/* Individual country page */
.individual-country-card {
  background-color: rgb(243 244 246);
  display: flex;
  width: 100%;
  padding: 6rem 4.5rem;
  align-items: center;
  justify-content: space-between;
  transition-duration: 0.2s;
  gap: 1.1rem;
  /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
}

.flag {
  max-width: 48.2vw;
  height: auto;
  margin-bottom: 0;
}

.individual-country-data-div {
  padding: 2rem 1rem;
}

.individual-country-data {
  padding-top: 0rem;
}

.individual-country-name {
  font-size: 3.5rem;
  font-weight: 700;
  color: rgb(17 24 39);
  margin-bottom: 1.7rem;

}

.individual-country-data p {
  margin-bottom: 0.8rem;
}

.borders-div {
  /* padding: 1rem;
  background-color: yellow; */
}

.borders-div h3 {
  font-weight: 700;
  color: rgb(17 24 39);
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;

}

.country-border {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: flex-start;
}

.country-border p {
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0.3rem;
  padding: 0.5rem;
  background-color: rgb(255 255 255);

  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}

.back-btn {
  transition-duration: 0.2s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
  border: none;
  color: rgb(55 65 81);
  padding: 0.5rem 1.5rem;
  background-color: white;
  border-radius: 0.25rem;
  margin-top: 2rem;
  display: inline-block;
  cursor: pointer;
}


@media (max-width: 600px) {
  body{
    background-color: rgb(243 244 246);
  }
  .main-page-container {
    width: 100%;
    padding: 1.5rem 0.7rem;
  }

  .form-div {
    display: block;

  }

  .form {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .countries-data-div {
   display: block;
    width: 100%;
  }
  .country-data{
    display: block;
  
    width: 80%;
  }
/* a{
  width: 80%;
} */
.card{
  width: 100%;
  margin-bottom: 0.5rem;
  height: 85vw;
  object-fit: cover;
}
img{
  width: 30vw;
  height: 54vw;
  object-fit: cover;
}
.countries-data-div{
  width: 100%;
}
.country-data{
  height: 100%;
  margin-bottom: 0.3rem;
}
}

/* for individual country page */
@media(max-width: 600px) {
  .individual-country-card {
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  background-color: red;
    padding: 2rem 1rem;
    height: 100vh; */
    width: 100%;
    padding: 2.5rem 0;
    display: block;
    /* mn */

  }

  
 .flag{
    width: 77rem;
    display: block;
    height: 54vw;
    object-fit: cover;
  }
  /* .flag {
    width: 120vw;
  } */
/* a{
  width: 100%;
} */
  img {
    width: 100%;
  }

  .individual-country-name {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .individual-country-data-div {
    width: 100%;
    padding: 2.5rem 0;
  }

  .individual-country-data {
    width: 100%;
  }

  .individual-country-data p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #334155;
  }

  .borders-div {}
}